h3 {
  font-family: lato;
  font-weight: 600;
  margin: 20px auto 10px auto;
  color: white;
}
.carousel-item {
  max-height: 450px;
  object-fit: cover;
  cursor: -webkit-grabbing;

  & img {
    border-radius: 30px;
    height: 500px;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
    transition: 0.25s linear;
  }

  &:hover {
    & img {
      transform: translatey(-1%);
    }
  }
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 30px;
  &.active {
    background: #fff;
  }
}

@media only screen and (max-width: 650px) {
  .carousel-item img {
    height: auto;
  }
}

.carousel-control-prev {
  left: -50px;
  margin: 0 -25px;
}
.carousel-control-next {
  right: -50px;
  margin: 0 -25px;
}
